@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url('../fonts/Roboto-Black.ttf');
}

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* COMMON START */
.container {
    width: 1110px;
    margin: 0 auto;
}

.button {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}

.clearfix {
    clear: both;
}

.mb-0 {
    margin-bottom: 0 !important;
}
/* COMMON END */


/* HEADER START */
/* FIRST LINE NAV START */
.nav {
    background-color: #EFEFEF;
    text-align: center;
    padding: 17px 0;
}

.nav-item {
    display: inline-block;
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item .nav-link {
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}
/* FIRST LINE NAV END */
/* LOGO START */
.main-bar {
    padding: 20px 0;
    position: relative;
}

.main-bar::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;
    top: 100%;
}

.main-bar-logo {
    float: left;
}

.logo {
    display: inline-block;
}

.logo-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 21px;
    padding-left: 20px;
}

.main-bar-logo-link {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    text-decoration: none;
}

.main-bar-contacts {
    float: right;
    padding-top: 20px;
}

.main-bar-phone {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
}

.main-bar-btn {
    width: 170px;
    height: 40px;
    background-color: #FFFFFF;
    color: #000000;
    margin-left: 40px;
    display: inline-block;
}

.main-bar-btn:hover {
    background-color: #F13C6E;
    color: #fff;
}
/* LOGO END */
/* SECONT LINE NAV START */
.second-line-nav {
    padding: 30px 0;
}

.second-line-nav-list {
    text-align: center;
}

.second-line-nav-items {
    display: inline-block;
    margin-right: 40px;
}

.second-line-nav-items:last-child {
    margin-right: 0;
}

.second-line-nav-link {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
/* SECONT LINE NAV END */
/* HEADER END */
/* PROMO START */
.promo {
    height: 604px;
    background: no-repeat center url('../images/promo.png'), #F13C6E;
}

.promo-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 192px;
    margin-bottom: 50px;
}

.promo-text {
    width: 308px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 50px;
}

.promo-btn {
    width: 170px;
    height: 40px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.promo-btn:hover {
    background: #FFFFFF;
    color: #F13C6E;
}
/* PROMO END */

/* MAIN START */
.main {
    padding-top: 80px;
    padding: 80px 0 103px;
    background-color: #EFEFEF;
}

.main-header {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 38px;
}
/* CARD START*/
.main-cards {
    margin-bottom: 100px;
}

.card-goods {
    width: 255px;
    padding: 25px 0;
    background: #FFFFFF;
    display: inline-block;
    margin-right: 30px;
}

.card-goods:last-child {
    margin-right: 0;
}

.card-img {
    width: 125px;
    display: block;
    margin: 0 auto 20px;
}

.card-name {
    width: 195px;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.card-price {
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
}

.card-btn {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 35px;
    background: #F13C6E;
    border-radius: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
/* CARD END */
/* FEATURES START */
.main-features {
    margin-bottom: 113px;
}

.feature-item {
    display: inline-block;
    vertical-align: top;
    width: 540px;
    background-color: #F13C6E;
    margin-right: 30px;
    padding: 35px 40px;

    background-repeat: no-repeat;
    background-position: 87% 50%;
}

.feature-item:first-child {
    background-image: url('../images/mail.png');
}

.feature-item:last-child {
    background-image: url('../images/car.png');
    margin-right: 0;
}

.feature-title {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.feature-text {
    width: 231px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.feature-email {
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 9px 25px;
    border: none;
    outline: none;
}

.feature-email::placeholder {
    color: #C4C4C4;
}

.feature-btn {
    width: 170px;
    height: 35px;

    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;
}

.feature-btn:hover {
    background: #FFFFFF;
    color: #F13C6E;
}
/* FEATURES END */
/* RECENTLY WATCH START */
/* RECENTLY WATCH END */

/* MAIN END */
/* FOOTER START */
.footer {
    padding-top: 61px;
}
/* POPULAR CATEGORIES START */
.pop-cat {
    width: 255px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 60px;
}

.pop-cat:last-child {
    margin-right: 0;
}

.pop-cat-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    margin-bottom: 31px;
}

.pop-cat-line {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 30px;
}

.pop-cat-link {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}
/* POPULAR CATEGORIES END */
/* FOOTER NAVIGATION START */
.footer-nav {
    margin-bottom: 46px;
}
.footer-social-links {
    float: left;
}

.footer-social-link {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 2px solid #F13C6E;
    border-radius: 50%;
    text-decoration: none;

    position: relative;
    margin-right: 20px;
}

.footer-social-link:last-child {
    margin-right: 0;
}

.footer-social-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-contact {
    float: right;
}
/* FOOTER NAVIGATION END */
/* FOOTER COPYRIGHT START */
.footer-copy {
    padding: 26px 0;
    background-color: #EFEFEF;
}

.footer-copy-text {
    float: left;

}

.footer-copy_link {
    display: block;
    float: right;
    text-decoration: none;
}

.copy-text {
    font-size: 12px;
    color: #828282;
}
/* FOOTER COPYRIGHT END */
/* FOOTER END */